<div id="containerTutorial">
  <header id="containerHome">
    <button class="custom-btn btn-16" (click)="(redHome())">Tornar</button>
  </header>

  <div id="containerPistas">
    <img src="/assets/drawable/trivigame_Logo.png" />
    <p>Pots utilitzar 2 pistes per pregunta. Això et facilitarà la cosa, però la recompensa serà menor.</p>
  </div>
  <div id="containerMaxPDia">
    <img src="/assets/drawable/warning.png" />
    <p>Pots respondre un màxim de 10 preguntes al dia. Aquest límit és per prevenir l'addicció a TriviGame. A més de fomentar la competitivitat saludable.</p>
  </div>
  <div id="containerInfo">
    <img src="/assets/drawable/category/ACCIO_PEL_CLIMA.png" />
    <p>En totes les preguntes tens un accés a la web oficial oficial de l'ODS per poder informar-te sobre la temàtica.</p>
  </div>
</div>
