<!-- PANTALLA PREGUNTA AMB RESPOSTES -->

<div class="h-screen body" [style.background-color]="colorBack">
  <div class="global" *ngIf="!torn">
    <div id="contInfo">
      <button id="btHome" (click)="pedirPista()">
        <img src="/assets/drawable/trivigame_Logo.png" />
      </button>
      <div id="puntsActuals">
        <p>{{ puntosLocalStorage }}</p>
      </div>
    </div>
    <div class="containerR" id="contPregunta">
      <div id="pregL">
        <p id="txtPreg">
          {{ pregunta?.pregunta }}
        </p>
      </div>
    </div>
    <div class="containerR">
      <div id="pregM">
        <p id="txtPreg">
          {{ pregunta?.pregunta }}
        </p>
      </div>
      <div id="contR">
        <div id="contR1">
          <button
            class="bnRes"
            (click)="aPulsado ? null : click(respuestasOrdenadas[0])"
          >
            <div
              class="btResDiv"
              [ngClass]="{
                respuestaVacio: respuestasOrdenadas[0] === '',
                c: respuestasOrdenadas[0] === respuestaCorrecta && aPulsado
              }"
              [ngStyle]="{
                'background-color':
                  correcto === true &&
                  respuestasOrdenadas[0] === respuestaCorrecta
                    ? 'lightgreen'
                    : ''
              }"
              [ngStyle]="{
                'background-color':
                  incorrectaPulsada === respuestasOrdenadas[0] &&
                  correcto === false
                    ? 'lightcoral'
                    : ''
              }"
            >
              {{ respuestasOrdenadas[0] }}
            </div>
          </button>

          <button
            class="bnRes"
            (click)="aPulsado ? null : click(respuestasOrdenadas[1])"
          >
            <div
              class="btResDiv"
              [ngClass]="{
                respuestaVacio: respuestasOrdenadas[1] === '',
                c: respuestasOrdenadas[1] === respuestaCorrecta && aPulsado
              }"
              [ngStyle]="{
                'background-color':
                  correcto === true &&
                  respuestasOrdenadas[1] === respuestaCorrecta
                    ? 'lightgreen'
                    : ''
              }"
              [ngStyle]="{
                'background-color':
                  incorrectaPulsada === respuestasOrdenadas[1] &&
                  correcto === false
                    ? 'lightcoral'
                    : ''
              }"
            >
              {{ respuestasOrdenadas[1] }}
            </div>
          </button>
        </div>
        <div id="contR2">
          <button
            class="bnRes"
            (click)="aPulsado ? null : click(respuestasOrdenadas[2])"
          >
            <div
              class="btResDiv"
              [ngClass]="{
                respuestaVacio: respuestasOrdenadas[2] === '',
                c: respuestasOrdenadas[2] === respuestaCorrecta && aPulsado
              }"
              [ngStyle]="{
                'background-color':
                  correcto === true &&
                  respuestasOrdenadas[2] === respuestaCorrecta
                    ? 'lightgreen'
                    : ''
              }"
              [ngStyle]="{
                'background-color':
                  incorrectaPulsada === respuestasOrdenadas[2] &&
                  correcto === false
                    ? 'lightcoral'
                    : ''
              }"
            >
              {{ respuestasOrdenadas[2] }}
            </div>
          </button>
          <button
            class="bnRes"
            (click)="aPulsado ? null : click(respuestasOrdenadas[3])"
          >
            <div
              class="btResDiv"
              [ngClass]="{
                respuestaVacio: respuestasOrdenadas[3] === '',
                c: respuestasOrdenadas[3] === respuestaCorrecta && aPulsado
              }"
              [ngStyle]="{
                'background-color':
                  correcto === true &&
                  respuestasOrdenadas[3] === respuestaCorrecta
                    ? 'lightgreen'
                    : ''
              }"
              [ngStyle]="{
                'background-color':
                  incorrectaPulsada === respuestasOrdenadas[3] &&
                  correcto === false
                    ? 'lightcoral'
                    : ''
              }"
            >
              {{ respuestasOrdenadas[3] }}
            </div>
          </button>
        </div>
      </div>
    </div>

    <!-- <div id="buttonnextq">
      <button
        id="nextQJaResposta"
        [disabled]="isDisabled"
        class="custom-btn btn-11"
        (click)="siguiente()"
      >
        Següent pregunta!
        <div class="dot"></div>
      </button>
    </div> -->

    <div id="contPista">
      <a id="btPista" href="{{ url }}" target="_blank"
        ><img src="{{ imgurl }}"
      /></a>
    </div>
  </div>

  <!-- FI PANTALLA PREGUNTA AMB RESPOSTES -->

  <!-- PANTALLA PREGUNTA -->

  <div *ngIf="torn">
    <div id="container">
      <div id="containerP">
        <img src="../../../assets/drawable/logo.png" id="logo" />
        <div id="numP">
          <p>Pregunta {{ qttPreguntesContestades }}</p>
        </div>
        <div id="preg">
          <p>
            {{ pregunta?.pregunta }}
          </p>
        </div>
        <div id="progress_bar">
          <div
            id="progress_fill"
            [ngClass]="{ 'fill-animation': true }"
            
            [style.width.%]="porcentajeAnimacion"
          ></div>
          <!-- [style.width.%]="porcentajeAnimacion" -->
        </div>
        <p id="progress">{{ qttPreguntesContestades }}/10</p>
      </div>
      <div id="buttonnextq">
        <button id="nextQ" class="custom-btn btn-11" (click)="nextQuestion()">
          Respondre pregunta!
          <div class="dot"></div>
        </button>
      </div>
    </div>
  </div>

  <!-- FI PANTALLA PREUGNTA -->

  <!-- PANTALLA NEXT Q -->

  <div *ngIf="buttonNQ" id="containerNextQ">
    <div id="popupNextQe">
      <div id="buttonnextqe">
        <button
          id="nextQJaResposta"
          [disabled]="isDisabled"
          class="custom-btn btn-11"
          (click)="siguiente()"
        >
          Següent pregunta!
          <div class="dot"></div>
        </button>
      </div>
    </div>
  </div>

  <!-- FI PANTALLA NEXT Q -->
</div>



