<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="final-juego.component.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>Document</title>
  </head>
  <body>

    <div class="context">
      <h1>Puntuaciones!</h1>
      <div class="credit-card-box">
        <div class="flip">
          <div class="front"></div>
          <div class="back">
            <div>
              <p id="puntuacion">Puntuació</p>
              <div id="numP" class="punc">
                <p>57</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="area">
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

    <!-- <div class="credit-card-box">
      <div class="flip">
        <div class="front"></div>
        <div class="back">
          <div>
            <p id="puntuacion">Puntuació</p>
            <div id="numP" class="punc">
              <p>57</p>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </body>
</html>
