@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
    /* border: 2px solid red; */
    /* overflow: hidden; */
}



.context {
    width: 100vw;
    height: 100vh;
    /* position: relative;    */
    display: flex;
    flex-direction: column;
    text-align: center;
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 2.5em;
    margin-top: 5vh;
}

#bgBody{
    height: 100vh;
    width: 100vw;
    position: absolute;
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    z-index: -2;  
    overflow: hidden;
}

#containerFondo{
    position: absolute;
    z-index: -1;
    /* top: 0; */
    /* left: 0; */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#containerFondo li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    overflow: hidden ;
    /* bottom: -10em; */
    
}

#containerFondo li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


#containerFondo li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

#containerFondo li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

#containerFondo li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

#containerFondo li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

#containerFondo li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

#containerFondo li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

#containerFondo li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

#containerFondo li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

#containerFondo li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

#bodyF {
  font-family: 'Exo', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}



#box {
    overflow-y:auto;
    /* padding-bottom: 5em; */
    display: flex;
    flex-direction: column;
}

.card {
    /* width: 150px; */
    width: 15em;
    height:140px;
    position: relative;
    background-color: rgba(101, 240, 255, 0.227);
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    border-radius: 15px;
    /* justify-content: center; */
    /* align-items: center; */
    /* margin: auto; */
    /* padding: auto; */
}

.card:before {
    height: 300px;
    width: 300px;
    background: conic-gradient(rgb(58, 255, 0.85) 20deg, transparent 120deg);
    transform-origin: center;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: spin 4s linear infinite;
  }
  
  .card:after {
    height: 130px;
    /* width: 140px; */
    width: 14.2em;
    background-color: rgb(223, 241, 255);
    content: "";
    position: absolute;
    top: calc(50% - 65px);
    left: 50%;
    transform: translate(-50%);
    border-radius: 15px;

  }
  
  @keyframes spin {
    to {
      transform: translate(-50%, -50%) rotate(0);
    }
    from {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
#puntuacion {
    margin-top: 5vh;
    margin-left: 4vw;
    margin-right: 4vw;
    background-color: #84b6f4;
    border-radius: 30px;
    position: relative;
    z-index: 1;
    font-weight: bold;
}

#numP {
    position: relative;
    z-index: 1;
    display: inline-block;
    border-radius: 50%;
    background-color: #84b6f4;
    font-size: 1.5em; 
    padding: 0.5em;
    text-align: center; 
    line-height: 1em; 
    min-width: 2em; 
    min-height: 2em; 
}
.punc {
    margin-top: 2vh;
    margin-bottom: 2vh;
} 

#racha {
    margin-top: 5vh;
    margin-left: 4vw;
    margin-right: 4vw;
    position: relative;
    z-index: 1;
    background-color: #ff6961;
    border-radius: 30px;
    font-weight: bold;
}

#numR {
    position: relative;
    z-index: 1;
    display: inline-block;
    border-radius: 50%;
    background-color: #ff6961;
    font-size: 1.5em; 
    padding: 0.5em;
    text-align: center; 
    line-height: 1em; 
    min-width: 2em; 
    min-height: 2em; 
}

#aciertos {
    margin-top: 5vh;
    margin-left: 4vw;
    margin-right: 4vw;
    position: relative;
    z-index: 1;
    background-color: #77dd77;
    border-radius: 30px;
    font-weight: bold;
}

#numA {
    position: relative;
    z-index: 1;
    display: inline-block;
    border-radius: 50%;
    background-color: #77dd77;
    font-size: 1.5em; 
    padding: 0.5em;
    text-align: center; 
    line-height: 1em; 
    min-width: 2em;
    min-height: 2em;
}

/* .boton {
    border: 2px solid;
    background-color: blueviolet;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 3vh;
} */

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    /* moz-transition: all .4s ease-in-out; */
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    /* moz-transition: all .4s ease-in-out; */
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-hover.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-hover.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.btn-hover.color-4 {
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btn-hover.color-5 {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.btn-hover.color-6 {
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.btn-hover.color-7 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-10 {
        background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-hover.color-11 {
       background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}


@media only screen and (min-width: 810px) {

    #box{
        flex-direction: row;
    }

    .context{
        justify-content: space-around;
    }
}