<div id="bodyF">
  <div class="context">
    <h1>Puntuaciones!</h1>
    <div id="box">
      <div class="card">
        <div>
          <p id="puntuacion">Puntuació</p>
          <div id="numP" class="punc">
            <p>{{ puntos }}</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div>
          <p id="racha">Racha</p>
          <div id="numR" class="punc">
            <p>{{ racha }}</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div>
          <p id="aciertos">Aciertos</p>
          <div id="numA" class="punc">
            <p>{{ aciertos }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="boton">
      <button class="btn-hover color-7" (click)="redirigir()">Acabar Partida</button>
    </div>
  </div>

  <div id="bgBody"></div>
    <ul id="containerFondo">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

</div>
