<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="capsalera">
        <img src="" alt="">
        <button>User</button>
          <p>?/10</p>
          </div>
          <div id="home">
            <div id="ranking">
            <table>
                <tr>
                    <td><p>NOM</p></td>
                    <td><p>classe</p></td>
                    <td><p>puntos</p></td>
                </tr>
                <tr>
                    <td><p>NOM</p></td>
                    <td><p>classe</p></td>
                    <td><p>puntos</p></td>
                </tr>
                <tr>
                    <td><p>NOM</p></td>
                    <td><p>classe</p></td>
                    <td><p>puntos</p></td>
                </tr>
            </table>
        <select name="classe" id="classe">
        <option value="dam">DAM</option>
      <option value="ASIX">ASIX</option>
      <option value="ga">GA</option>
      <option value="aif">AIF</option>
    </select>
          </div>
          <div id="play">
            
          </div>
          </div>
    
    
    </body>

</html>