body {
  margin: 0;
  padding:0;
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
  background: #AAE8FF; 
  font-size: 1em;
}

#cabecera{
  background: linear-gradient(90deg, #0097b2, #7ed957);
  width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
  left: 0; /* Posicionamos la cabecera al lado izquierdo */
  top: 0; /* Posicionamos la cabecera pegada arriba */
  position: fixed; /* Hacemos que la cabecera tenga una posición fija */
  height: 5rem;
  font-size: 1.3em;
}

#user{
  float: left;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#preguntas{
  height: 100%;
  float: right;
  margin-right: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cabecera a{
  margin-left: 1em;
}

#home{
margin-top: 10rem;
}

#user img{
  margin-left: 2em;
  width: 2em;
  height: 2em;
  float: left;
}

#boto{
  float: right;
  background-image: url("./../../../assets/home/playLogo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30%;
  height: 19em;
  margin-top: 8em;
  margin-right: 9em;
  border-radius: 2em;
  border: #000 solid 2px;
  transition: transform .2s; 
}

#boto:hover { 
  transform: scale(1.2); 
}


#ranking{
  float: left;
  margin-top: 3rem;
  margin-left: 3rem;
  width: 43%;
  margin-right: 3em;
}

thead{
position: sticky;
top: 0;
background-color: #D8C8FF;
}

#ranking table{
  border-radius: 2em;
  background-color: #D8C8FF;
  padding: 2rem;
  font-size: 1.2em;
  width: 100%;
  height: 70%;
  border: #000 solid 2px;

}

tbody{
  text-align: center;
  margin-top: 1em;
}

#tabla{
  line-height: 1em;
  overflow-y: auto;
  overflow-x: hidden;
  height: 15em;
  width: auto;
   /*Firefox*/
  scrollbar-color: linear-gradient(90deg, #0097b2, #7ed957);
  scrollbar-width: thin;
}
/*Webkit*/
section::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 1em;
}
section::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 1em;

}
section::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #0097b2, #7ed957);
  border-radius: 3em;
}

td{
  width: 19%;
  padding: 0.5em;
}
th{
  padding: 0.5em;
}
select {
  background: transparent;
  width: 100%;
  font-size: 1em;
  height: 2em;
  border-bottom: 2px solid;
  border-top:#000;
  border-left:#000;
  border-right:#000;
  margin-top: 2em;
  width: 20%;
}

tfoot{
  position: sticky;
  bottom: 0;
  margin-left: 1.5rem;
  background-color: #D8C8FF;
  text-align: center;
}

#triarClasse{
  float: left;
  margin-left: 3em;
  margin-top: 2em;
  margin-right: 1em;
}
