/* You can add global styles to this file, and also import other style files */
.bodyJuego {
    background-image: url(./assets/drawable/StartGame.png);
    background-size: cover;
  }

.bodyMenu {
    background-image: url(./assets/drawable/bkImg.png);
    background-size: cover;
}
