<div class="container-fluid">
  <div class="row align-items-center" style="margin-top: 30px;">
    <h1 style="padding-left: 20px; color:blanchedalmond;">{{ usuari }}</h1>
  </div>
  <div class="row" style="margin-top: 30px;">
    <div class="col-xs-1 col-sm-1 col-md-1 col-xs-1">
    </div>
    <div class="col-xs-10 col-sm-10 col-md-6 col-xs-6" style="padding-bottom: 5px;">
      <img src="{{ urlAvatar }}" title="avatar">
    </div>
  </div>
  <div class="row" style="margin-top: 30px;">
    <div class="col-xs-1 col-sm-1 col-md-1 col-xs-1">
    </div>
    <div class="col-xs-10 col-sm-10 col-md-6 col-xs-6" style="padding-bottom: 5px;">
      <label>
        <input type="file" class="text-nowrap text-truncate" (change)="triarFitxer($event)" />
      </label>
      <button class="btn btn-success" [disabled]="!llistaFitxers" (click)="pujarFitxer()">pujar fitxer</button>
      <div *ngif="avatarSeleccionat" class="progress mt-2">
        <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ tpc }}" aria-valuemin="0"
          aria-valuemax="100" [ngStyle]="{ width: tpc + '%' }">
          {{ tpc }}%
        </div>
      </div>
    </div>
  </div>
</div>
